<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    hello
  </h1>
</div>

<input [(ngModel)]="filterText" type="text">
<input [(ngModel)]="filterText2" type="text">

<span class="subkey" *ngFor="let item of mainObject | mySearchPipe : filterText : true | mySearchPipe : filterText2 : false">
  <div class="category">
    {{ item.category }}
  </div>
  <div class="name">
    {{ item.name }}
  </div>
  <div class="text">
    {{ item.text }}
  </div>
  <div class="translation">
    {{ item.translation }}
  </div>
</span>

