<div class="heading">
  <img src="assets/logo.svg">
</div>

<div class="help">?</div>
<div class="help-text">
  <ul>
    <li>
      No text formatting should be added.
    </li>
    <li>
      Text like <pre>&#123;intl_something&#125;</pre> should not be removed.
    </li>
    <li>
      Team section <pre>_long</pre> text fields allow <pre>&#123;breakingLine&#125;</pre> to break up the text into paragraphs.
    </li>
  </ul>
</div>

<select
  (change)="changeCategory($event.target.value)"
  class="select-category"
  [ngClass]="{ 'input-changed': selectedPage !== 'none' }"
>
  <option selected value="none" [selected]="selectedPage === 'none'">All website text</option>
  <option *ngFor="let category of categories">{{ category }}</option>
</select>

<select
  (change)="changeView($event.target.value)"
  class="select-view"
  [ngClass]="{ 'input-changed': viewType !== 'everything' }"
>
  <option value="everything" [selected]="viewType === 'everything'">Showing everything</option>
  <option value="untranslated" [selected]="viewType === 'untranslated'">Showing untranslated</option>
  <option value="modified" [selected]="viewType === 'modified'">Showing modified</option>
</select>

<input
  [(ngModel)]="filterText"
  (keyup.esc)="filterText = ''"
  [ngClass]="{ 'input-changed': filterText !== ''}"
  type="text"
  placeholder="search english"
>

<input
  [(ngModel)]="filterText2"
  (keyup.esc)="filterText2 = ''"
  class="search-german"
  [ngClass]="{ 'input-changed': filterText2 !== ''}"
  type="text"
  placeholder="search german"
>

<virtual-scroller
  #scroll
  id="scrollDiv"
  class="scrolling-block"
  [enableUnequalChildrenSizes]="true"
  [items]="mainObject | mySelectionPipe : selectedPage
                      | mySearchPipe : filterText : true
                      | mySearchPipe : filterText2 : false
                      | myViewPipe : viewType
                      | showOncePipe"
>

  <app-row-component
    *ngFor="let item of scroll.viewPortItems"
    [item]="item"
    class="full-row"
  ></app-row-component>

</virtual-scroller>

<button
  (click)="reviewNow()"
  class="button-review"
  type="button"
>
  REVIEW
</button>

<button
  *ngIf="reviewedOnce"
  (click)="saveEverything()"
  class="button-save"
  [disabled]=savingInProgress
  type="button"
>
  {{ savingInProgress ? 'saving' : 'SAVE' }}
</button>

<div class="loading" *ngIf="loading">
  LOADING ...
</div>

<div class="overlay" *ngIf="!isLoggedIn">


  <div class="login">

    <img src="assets/logo.svg">

    <br><br>

    <span class="label">
      name:
    </span>
    <input type="text" [(ngModel)]="login.name">

    <span class="label">
      password:
    </span>
    <input type="password" [(ngModel)]="login.password">


    <span class="label">
      language to edit
    </span>
    <select (change)="changeLanguage($event.target.value)">
      <option value="en">English</option>
      <option value="de" selected>German</option>
      <option value="it">Italian</option>
    </select>

    <button
      (click)=tryLogin()
      class="button-login"
      [disabled]="!login.name || !login.password"
    >
      LOGIN
    </button>

  </div>
</div>
