input,
select {
  border-radius: 5px;
  border: 1px solid #999999;
  height: 30px;
  outline: none;
  width: 150px;
  box-sizing: border-box;
}

input {
  bottom: 20px;
  left: 20px;
  padding-left: 10px;
  position: absolute;
}

.search-german {
  left: 34%;
}

select {
  position: fixed;
  // top: 83px;
  left: 125px;
  z-index: 2;
}

.select-category {
  top: 10px;
  // left: 5px;
}

.select-view {
  top: 44px;
  // right: 18px;
}

.heading {
  font-size: 30px;
  margin: 15px;
}

.scrolling-block {
  border-bottom: 1px solid #80cf0f;
  border-top: 1px solid black;
  display: block;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  position: absolute;
  top: 80px;
  width: 100%;

  &:empty {
    &:after {
      content: "none found";
      font-size: 20px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
    }
  }
}

.not-empty {
  border: 3px solid #80cf0f;
}

.full-row {
  display: block;
  min-height: 100px;
}

.button-save {
  background-color: #80cf0f;
  border-radius: 5px;
  border: 0;
  bottom: 20px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  outline: none;
  padding: 12px 20px;
  position: absolute;
  right: 30px;
  transition-property: background-color, box-shadow, color;
  width: 100px;

  &:hover {
    background: #90Df1f;
  }

  &:disabled {
    background-color: #DDDDDD;
    box-shadow: none;
    cursor: initial;
    pointer-events: none;
  }

  &:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    transition: 100ms;
  }
}
