input,
select {
  border-radius: 5px;
  border: 1px solid #999999;
  height: 30px;
  outline: none;
  width: 150px;
}

input {
  bottom: 20px;
  left: 20px;
  padding-left: 10px;
  position: absolute;
}

.search-german {
  left: 34%;
}

select {
  left: 5px;
  position: fixed;
  top: 83px;
  z-index: 2;
}

.heading {
  font-size: 30px;
  margin: 15px;
}

.scrolling-block {
  border-bottom: 1px solid #80cf0f;
  display: block;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  position: absolute;
  top: 80px;
  width: 100%;

  &:empty {
    &:after {
      content: "none found";
      font-size: 20px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
    }
  }
}

.not-empty {
  border: 3px solid #80cf0f;
}

.dupe {
  display: none !important;
}

.category {
  background-color: #80cf0f;
  box-sizing: border-box;
  color: white;
  display: block;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 36px;
  margin: 20px 0 10px;
  padding-top: 6px;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  text-transform: capitalize;
  top: 0px;

  &:first-of-type {
    margin-top: 0 !important;
  }
}

.name {
  font-weight: bold;
  display: block;
  margin: 10px 10px 6px;;
}

.text,
.translation,
.editor {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 5px;
  vertical-align: top;
  width: 30%;
}

// .text {
  // }

  // .translation {
    // }

.editor {
  outline: none;
  border: 1px solid #DDDDDD;
}

.button-save {
  background-color: #80cf0f;
  border-radius: 5px;
  border: 0;
  bottom: 20px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  outline: none;
  padding: 12px 20px;
  position: absolute;
  right: 30px;
  transition-property: background-color, box-shadow, color;
  width: 100px;

  &:hover {
    background: #90Df1f;
  }

  &:disabled {
    background-color: #DDDDDD;
    box-shadow: none;
    cursor: initial;
    pointer-events: none;
  }

  &:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    transition: 100ms;
  }
}
