.scrolling-block {
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  display: block;
  height: 80vh;
  margin: 20px 0;
  overflow-y: scroll;
  width: 100%;
}

.dupe {
  border: 1px solid green;
  display: none !important;
}

.category {
  background: white;
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 10px;
  background-color: #80cf0f;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 0px;
}

.name {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.text {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  width: 30%;
}

.translation {
  border: 1px solid red;
  display: inline-block;
  margin-left: 20px;
  width: 30%;
}
